* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

@keyframes fade-in {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fade-in2 {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes go-up {
    0% {margin-top: 30%}
    100% {margin-top: 20%}
}

@keyframes go-up2 {
    0% {margin-top: 30%}
    100% {margin-top: 15%}
}

.main {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: rgb(105, 137, 206);
    background-image: linear-gradient(45deg,#fff,#222831);
}

nav {
    display: flex;
    width: 90%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

nav img {
    width: 15%;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    background: #FFD369; 
    padding: 10px 18px;
    color: #222831;
    margin:30px 0;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: azure;
}

.tsaqif {
    margin-left: 8%;
    margin-top: 15%;
    animation: go-up2 3s, fade-in 3s;
}

.tsaqif h1{
    font-size: 50px;
    color: rgb(37, 37, 37);
    margin-bottom: 20px;
}

.tsaqif a{
    background: #FFD369; 
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color:#222831;
    margin:30px 0;
    border-radius: 5px;
}

span {
    color: #FFD369;
}

.tsaqif p {
    color: #555;
    line-height: 22px;
    animation: fade-in2 4s;
}

.image1 {
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.image1 .foto {
    height: 110%;
    position: absolute;
    left: 47%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
    animation: fade-in 3s;
}

.image1 .shape1 {
    height: 150%;
    position: absolute;
    left: 45%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
    animation: fade-in 3s;
}

.image1:hover .foto {
    left: 42%;
}
.image1:hover .shape1 {
    bottom: 40px;
}

.searchbox {
    background-color: #222831;
    height: 18px;
    padding: 7px 15px;
    border-radius: 50px;
    right: 50%;
    max-width: 150px;
 }
.searchbox input{
    border: none;
    outline: none;
    background:none;
    }

.tsaqif table {
    color:#61666e;
    width: 100%;
    max-width: 180px;
    margin: 10px 0;
    border-collapse: collapse;
    background-color: #222831;
    border-radius: 10px;
    overflow: hidden;
  }
  
.tsaqif table td {
    padding: 10px;
    border: 1px solid #ccc;
  }
  
.tsaqif table input[type="checkbox"] {
    margin-right: 5px;
    vertical-align: middle;
    color: rgb(111, 111, 111);
  }
  